#intro {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url(./../Images/intro2.jpg) ;
    background-repeat: no-repeat;
    background-size: 100vw auto;


    box-shadow: 0px 5px 10px 0px #8a8a8ace;
}

#info {
    float: left;
    width: 50%;
    height: 100vh;
    padding: 20px;
    color: aliceblue;
}

#images {
    width: 40%;
    height: 700px;
}

#jobs-img {
    margin: 15px;
    border-radius: 5px;
}

@media screen and (max-width: 1000px) {
    #intro {
        background-size: auto 100vh;
    }

    #images div {
        display: none;
    }

    #info {
        width: 400px;
    }

}
